{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/hobbies.css') }}">
{% endblock %}

{% block content %}
<div class="hobbies-container">
    <h1>{{ title }}</h1>

    <div class="hobbies-grid">
        {% for hobby in hobbies %}
        <div class="hobby-card">
            <img src="{{ hobby.image }}" alt="{{ hobby.name }}">
            <div class="hobby-info">
                <h3>{{ hobby.name }}</h3>
                <p>{{ hobby.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
