{% extends "base.html" %}

{% block content %}
<div class="hero">
    <div class="hero-content">
        <div class="profile-picture">
            <img src="./static/img/profile.jpg" alt="Ethan Jin">
        </div>
        <h1>{{ title }}</h1>
        <p class="tagline">CE @ UCLA</p>
        <p class="tagline">MLH Production Engineering Fellow</p>
    </div>
    <div class="divider"></div>
    <div class="hero-content">
      <h2>Welcome to my portfolio!</h2>
      <h3>Currently building...</h3>
      <div class="featured-card">
            <img src="../static/img/galaxi.png"></img>
            <div class="featured-info">
                <h3>GALAXI</h3>
                <p>ML platform to help researchers automatically identify substance compositions</p>
            </div>
        </div>
      <h3>Currently learning...</h3>
      <div class="badges">
        <div class="badge"><img src="https://cdn.simpleicons.org/pytorch" alt="PyTorch"><span>PyTorch</span></div>
        <div class="badge"><img src="https://cdn.simpleicons.org/docker" alt="Docker"><span>Docker</span></div>
        <div class="badge"><img src="https://cdn.simpleicons.org/nginx" alt="nginx"><span>nginx</span></div>
        <div class="badge"><img src="https://cdn.simpleicons.org/prometheus" alt="Prometheus"><span>Prometheus</span></div>
      </div>
    </div>
</div>
{% endblock %}
